<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.jernung.cordova.expansion-file"
      version="0.0.1">
    
    <name>Expansion File</name>

    <author>Joshua McFarland</author>
    <description>Cordova Expansion File Plugin</description>
    <keywords>cordova,expansion,file</keywords>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Expansion" >
                <param name="android-package" value="com.jernung.cordova.expansion-file.Expansion"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/Expansion.java" target-dir="src/com/jernung/cordova/expansionfile" />
    </platform>
        
</plugin>