<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.jernung.cordova.expansion-file"
        version="0.0.22">
    
    <name>Expansion File</name>

    <author>Joshua McFarland</author>
    <description>Cordova Expansion File Plugin</description>
    <keywords>cordova,expansion,file</keywords>
    
    <js-module src="www/expansion.js" name="Expansion">
        <clobbers target="navigator.expansion" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Expansion" >
                <param name="android-package" value="com.jernung.cordova.expansionfile.Expansion"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="application">
            <service android:name=".ExpansionDownloaderService" />
            <receiver android:name=".ExpansionAlarmReceiver" />
        </config-file>
        
        <source-file src="src/android/Expansion.java" target-dir="src/com/jernung/cordova/expansionfile" />
        <source-file src="src/android/ExpansionAlarmReceiver.java" target-dir="src/com/jernung/cordova/expansionfile" />
        <source-file src="src/android/ExpansionDownloaderService.java" target-dir="src/com/jernung/cordova/expansionfile" />
        <source-file src="src/android/libs/downloader_library.jar" target-dir="libs/" />
        <source-file src="src/android/libs/licensing_library.jar" target-dir="libs/" />
        <source-file src="src/android/libs/zip_library.jar" target-dir="libs/" />
    </platform>
        
</plugin>