<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.jernung.cordova.expansion"
        version="0.0.51">
    
    <name>Expansion File</name>

    <author>Joshua McFarland</author>
    <description>Cordova Expansion Plugin</description>
    <keywords>cordova,expansion,media</keywords>
    
    <!-- android -->
    <platform name="android">
        <js-module src="www/expansion.js" name="ExpansionPlugin">
            <clobbers target="navigator.expansion" />
        </js-module>
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ExpansionPlugin" >
                <param name="android-package" value="com.jernung.cordova.expansion.ExpansionPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="application">
            <service android:name=".ExpansionDownloaderService" />
            <receiver android:name=".ExpansionAlarmReceiver" />
        </config-file>
        
        <source-file src="src/android/ExpansionPlugin.java" target-dir="src/com/jernung/cordova/expansion" />
        <source-file src="src/android/ExpansionAlarmReceiver.java" target-dir="src/com/jernung/cordova/expansion" />
        <source-file src="src/android/ExpansionDownloaderService.java" target-dir="src/com/jernung/cordova/expansion" />
        <source-file src="src/android/libs/commons-io-2.4.jar" target-dir="libs/" />
        <source-file src="src/android/libs/downloader_library.jar" target-dir="libs/" />
        <source-file src="src/android/libs/licensing_library.jar" target-dir="libs/" />
        <source-file src="src/android/libs/zip_library.jar" target-dir="libs/" />
    </platform>
    
</plugin>